# Temporary and test HTML dumps
all.html
block.html
group.html
*.dump.html
*.tmp

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build & Archives
*.zip
*.crx
dist/
build/.chrome-test-profile/
.edge-test-profile/
